.Profile-full {
    display: flex;
    column-gap: 35px;
    margin-bottom: 100px;
}

.rigth-column {
    max-width: 656px;
}

.main-content-pro {
    border: 1px solid #1EBBED;
    margin-top: 20px;
    border-radius: 15px 15px 0px 0px;
}

.content-pro-title-item h2 {
    background: linear-gradient(90deg, #CE06D0 0%, #00DBDE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.63;
    background-clip: text;
    text-fill-color: transparent;
}
.active-item h2{
    opacity: 1!important;
}
.content-pro-title {
    display: flex;
    max-width: 656px;
    border-bottom: 1px solid #1EBBED;
}

.content-pro-title .content-pro-title-item {
    max-width: 50%;
    width: 50%;
    display: flex;
    padding: 15px 0px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.content-pro-text {
    padding: 15px 20px;
}

.content-pro-text b{
    text-align: center;
    width: 100%;
}

.content-text-before {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.content-text-before p a {
    background: linear-gradient(90deg, #CE06D0 0%, #00DBDE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
}

.content-text-before p {
    position: relative;
    padding-left: 30px;
}

.content-text-before::before {
    content: "";
    height: 100%;
    position: absolute;
    left: 0px;
    border: 1px solid #F535DA;
}

.content-text-before p::before {
    content: "";
    width: 15px;
    left: -7.5px;
    position: absolute;
    height: 15px;
    background: #F535DA;
    border-radius: 50%;
}

.content-text-before p::after {
    content: "";
    position: absolute;
    left: -11px;
    top: -4.5px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    border: 1px solid #F535DA;
}

.links-content-text {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    row-gap: 20px;
}

.link-content {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.content-about {
    margin-top: 25px;
}

.content-button {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    width: 100%;
}

.content-button button {
    padding: 20px;
    max-width: 456px;
    width: 100%;
    margin: 0px auto;
    background: #F535DA;
    border-radius: 100px;
    cursor: pointer;
    color: #ffffff;
}

.item-border-right{
    border-right: 1px solid #1EBBED;
}

.d-none{
    display: none;
}

.news-mobile{
    margin-top: 30px;
}